<h1>{{user.username}}'s Teams:</h1>

{{#each teams}}
<div>
    <ul>
        <a href='/users/{{../userId}}/teams/{{this._id}}'><li>{{this.name}}</li></a>
    </ul>
</div>
{{/each}}

<a href='/users/{{userId}}/teams/new'>(Add New Team)</a>


