<h1>{{user.username}}'s Teams:</h1>


{{#each teams}}

<div>
    <h2><a href='/users/{{../userId}}/teams/{{this._id}}'>
            {{this.name}}
        </a></h2>
</div>

{{/each}}
<a href='/users/{{userId}}/teams/new'>Add New Team</a>
<br>
<br>
<a href='/users/{{userId}}/'>Go Back to User</a>