<h1>{{team.name}} ({{team.sport}})</h1>


<br>
<h2 class="see-games"><a href='/users/{{userId}}/teams/{{team._id}}/games'>See Games</a></h2>
<br>
<br>
{{#each games}}
<div class='game-container'>

    <h3 class='game-date'>{{this.date}} </h3>

    <b>Opponent:</b> {{this.opposingTeam}}
    <br>
    <b>Where:</b> {{this.location}}
    <br>
    <b>When:</b> {{this.time}}
    <br>
    <form action='games/{{this._id}}?_method=DELETE' method='POST'>
        <input type='submit' value='Remove Game'>
    </form>
    <br>
    <br>

</div>

{{/each}}


<a href='/users/{{userId}}'> <button>Go back to User</button></a>
<br>
<br>
<br>
<form action='/users/{{userId}}/teams/{{team._id}}?_method=DELETE' method='POST'>
    <input type="submit" value='Delete Team'>
</form>