<h1>Showing One Team</h1>

<div>Name: {{team.name}}</div>
<div>Genre: {{team.sport}}</div>


{{!-- <form action='/users/{{userId}}/teams/{{team._id}}?_method=DELETE' method='POST'>
    <input type="submit" value='Delete Team'>
</form> --}}

{{!-- <div><a href ='/users/{{userId}}/teams/{{team._id}}edit'>Edit Team</a></div> --}}
{{!-- <a href='/users/{{userId}}/teams'> Go back to Teams</a> --}}

