<h1>{{team.name}}</h1>

<div>Sport: {{team.sport}}</div>
<br>
<form action='/users/{{userId}}/teams/{{team._id}}?_method=DELETE' method='POST'>
    <input type="submit" value='Delete Team'>
</form>

{{!-- <div><a href ='/users/{{userId}}/teams/{{team._id}}edit'>Edit Team</a></div> --}}
{{!-- <a href='/users/{{userId}}/teams'> Go back to Teams</a> --}}

