<h1>{{team.name}} ({{team.sport}})</h1>


<br>
<h2 class = "see-games"><a href='/users/{{userId}}/teams/{{team._id}}/games'>See Games</a></h2>
<br>
<br>


<a href='/users/{{userId}}/teams'> <button>Go back to Teams</button></a>
<br>
<br>
<br>
<form action='/users/{{userId}}/teams/{{team._id}}?_method=DELETE' method='POST'>
    <input type="submit" value='Delete Team'>
</form>


