<h1>{{team.name}}'s Games <a href='/users/{{userId}}/teams/{{teamId}}/games/new'><button>Add New Game</button></a>
</h1>


{{#each games}}
<div>
    
        <h3>{{this.date}} </h3>

        <b>Opponent:</b>  {{this.opposingTeam}}
        <br>
        <b>Where:</b>  {{this.location}}
        <br>
        <b>When:</b>  {{this.time}}
        <br>
        <form action='games/{{this._id}}?_method=DELETE' method='POST'>
            <input type="submit" value='Remove Game'>
        </form>
        <br>
        <br>
    
</div>
{{/each}}

<br>
<br>


<br>
<br>

<a href='/users/{{userId}}/teams/{{teamId}}'><button>Go Back to Team</button></a>
