<h1>{{team.name}}'s Games(<a href='/users/{{userId}}/teams/{{teamId}}/games/new'>Add New Game</a>)</h1>



{{#each games}}
<div>
    <ul>
        <h3>{{this.date}} </h3>

        <b>Opponent:</b> {{this.opposingTeam}}
        <br>
        <b>Where:</b> {{this.location}}
        <br>
        <b>When:</b> {{this.time}}
        <br>
        <br>

        <form action='games/{{this._id}}?_method=DELETE' method='POST'>
            <input type="submit" value='Remove Game'>
        </form>
    </ul>
</div>
{{/each}}
<a href='/users/{{userId}}/teams/{{teamId}}'>Go Back to Team</a>