<h1>{{team.name}}'s Games</h1>


{{#each games}}
<div>
    <ul>
        <li><h3>{{this.date}}</h3></li>
        <li>Opponent: {{this.opposingTeam}}</li>
        <li>Where: {{this.location}}</li>
        <li> When: {{this.time}}</li>

    </ul>
</div>
{{/each}}