<h1> {{user.username}}'s Teams</h1>

<h3 class='white'>*Click to go to a Team*</h3>


{{#each teams}}
<div>
    <h2 class='see-games'><a href='/users/{{../user._id}}/teams/{{this._id}}/games'>
            {{this.name}} ({{this.sport}})
        </a> <form action='/users/{{../user._id}}/teams/{{this._id}}?_method=DELETE' method='POST'>
            <input type="submit" class= "remove" value='Remove Team'>
        </form> </h2>
</div>


{{/each}}

<br>
<br>
<a href='/users/{{user._id}}/teams/new'><button>Add New Team</button></a>
<br>
<br>
<a href='/users'> <button>Go back to All Users</button></a>
